__pycache__/
.env
.DS_Store
.idea/
.vscode/


# Customized Large Files
task_creation/test_outputs/1_embeddings.json
google-cloud-sdk
annotation/outputs
annotation/outputs_backup
annotation/outputs_backup_gpt5-2
task_creation/outputs

evaluation/outputs
evaluation/outdated
evaluation/judged_outputs
evaluation/judged_outputs_new
evaluation/judged_outputs_goldonly
evaluation/judged_outputs_outdated
evaluation/judged_outputs_wrong
evaluation/judged_outputs_correct
evaluation/outdated

image_task_generation/outdated
image_task_generation/entity_figures

image_evaluation/outputs

test.py
test.sh

