__pycache__/
.env
.DS_Store
.idea/
.vscode/

google-cloud-sdk

# Customized Large Files
task_creation/test_outputs/1_embeddings.json
annotation/outputs
task_creation/outputs
evaluation/outputs
evaluation/judged_outputs
